.flex {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: white;
  z-index: 999;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.logo {
  flex: 1;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  font-size: 20px;
}
.link {
  min-width: 100px;
  font-size: 16px;
}

@media screen and (max-width: 1536px) {
  .container {
    max-width: 1036px;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .logo {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
